<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ playlist_title }}</title>
    <link rel="stylesheet" href="/static/playlist-styles.css">
</head>
<body>
    <div class="container">
        <h1>{{ playlist_title }}</h1>
        {% for video in video_info %}
        <div class="sections">
            <h2>{{ video.title }}:</h2>
            <div class="card-container">
                {% for link in video.links %}
                <a href="{{ link.url }}" class="download-btn" target="_blank">Download {{ link.resolution }}</a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        <a href="/" class="back-link">Go back</a>
    </div>
</body>
</html>
